

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    transition: all ease-in-out 0.3;
    margin-left: 10px;
}

.blog-container:hover{
    transform: scale(0.9);
    transition transform: 0.5s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 27%;
}
    

.blog-container{
    height: 590px;
    width: 390px;
    margin-top: 200px;
    border-width: 2px;
    border-color: #3B3F54;
    border-radius: 10px;
    padding: 20px;
    transition: all ease-in-out 0.5s;
}

.blog-container:hover{
    background-color: lightgray;
    transition: background-color 0.3s;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 25;
    align-items: center;
    transition: 0.3s;
}


.img{
height: 220px;
width: 390px;
margin-top: px;
}

.blog-title{
    color:black;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.blog-title-info{
    color:black;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.blog-content{
    color: gray;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 50px;
}

.read-1{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 123px;
}

.read-1:hover{
    color: blueviolet;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: underline;
}



.blog-container:hover{
    background-color: lightgray;
    transition: background-color 0.3s;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 25;
    align-items: center;
    transition: 0.3s;
}


.datascience-img{
height: 220px;
width: 390px;
margin-top: px;
}

.blog-title{
    color:black;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}



.blog-content{
    color: gray;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 50px;
}

.read-1{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 123px;
}

.read-1:hover{
    color: blueviolet;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: underline;
}





