.main{
}

.blog-container{
    height: 500px;
    width: 390px;
    border-style: solid;
    margin-top: 200px;
    margin-left: 100px;
    border-width: 2px;
    border-color: #3B3F54;
    border-radius: 20px;
    padding: 20px;
    transition: all ease-in-out 0.5s;
}

.blog-container:hover{
    background-color: lightgray;
    transition: background-color 0.3s;
    transition: 0.3s;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    width: 25;
    transition: 0.3s;
}

.fullstack-img{
height: 220px;
width: 390px;
margin-top: px;
}

.blog-title{
    color:black;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.blog-title-info{
    color:black;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #3B3F54;
    text-decoration-thickness: 2px;
    margin-top: 5px;
    text-align: center;
}

.blog-content{
    color: gray;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 50px;
}
