.back-head{
    background-color: #f7f7f7;
    font-size: 45px;
    text-align: center;
    padding-top: 23px;

}

back-t{
    padding-left: 35px;
}

.back-col{
    font-size: 23px;
    color: black;
}